.lds-dual-ring {
    display: block;
    position: relative;

}
.lds-dual-ring:after {
    content: " ";
    display: block;
    position: absolute;
    left: calc(50% - 64px);
    margin: 8px;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}